.cal{
    padding:1cm;
    border-radius: 1em;
    height: 620px;;
    width: 550px;
    margin: auto;
    background-color:rgb(0, 0, 0);
    box-sizing: border-box;
    box-shadow: 5px 5px 2px rgba(86, 77, 90, 0.662);
}
.displaybox{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(0, 0, 0);
    box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.548);
    color: white;
    border-radius: 5px;
    width: 90%;
    height: 65%;
}
.col{
    justify-content: space-between;
}
.button {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(0, 0, 0);
    color:white;
    font-size: 25px;
    box-sizing: border-box;
    box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.662);
    width: 70%;
    border-radius: 15px;
    height: 70%;
    outline: none;
    transition: 0.2s all;
}
.button:active {
    background: #666666;
    transform: scale(.95);

}
